<div class="grid">
    <div class="card" *ngFor="let pokemon of pokemons">
        <img [src]="pokemon.image" [alt]="pokemon.name" />

        <h2>{{ pokemon.name | titlecase }}</h2>

        <div class="info">
            <p> Altura: {{ pokemon.height }}</p>
            <p> Peso: {{ pokemon.weight }}</p>
            <p> Exp: {{ pokemon.baseExperience }}</p>
            <p> Tipos: {{ pokemon.types.join(', ') }}</p>
        </div>

        <div class="stats">
            <div *ngFor="let stat of pokemon.stats | slice:0:4">
                <small>{{ stat.name }}</small>
                <strong>{{ stat.value }}</strong>
            </div>
        </div>
    </div>
</div>